body {
  display: grid;
  place-items: center;
  height: 100vh;
  /* background-color: rgb(73, 72, 72); */
}

#demo {
  overflow: hidden;
}
#wrapper {
  background-color: black;
  padding: 30px;
}

#freds img {
  width: 100px;
}

.title {
  color: rgba(255, 225, 0, 0.834);
  font-size: 80px;
}

#time {
  margin-top: 30px;
}
